@import url('https://fonts.googleapis.com/css?family=Rokkitt');

body
{
	background-color:#cccccc;
	font-family: 'Rokkitt', serif;
}

table
{
	background-color:white;
	border-collapse:collapse;
	text-align:center;
	width:auto;
	border:1px solid black;
}

tr,td
{
	background-color:white;
	border-collapse:collapse;
	text-align:center;
	width:auto;
	border:2px solid black;
	font-size:20px;
	padding:7px;
}

input#sub
{
	background-color:grey;
	padding:10px;
	cursor:pointer;
	font-size:18px;
	border:none;
	border-bottom:2px solid black;
}

input#sub:hover
{
	transition:all ease 0.3s;
	background-color:grey;
	padding:10px;
	cursor:pointer;
	font-size:18px;
	border:2px solid black;
}